<div class="product-container">
  <div class="product--item" *ngFor="let item of products">
    <div class="wishlist-sale-container">
      <div class="add--to--wishlist">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
      <div *ngIf="item.dis_price" class="sale-tag">
        {{ ((item.dis_price / item.price) * 100).toFixed(0) }}% OFf
      </div>
    </div>

    <div class="product--image">
      <img [src]="item.image_url" [alt]="item.name" />
    </div>

    <div class="add--to-price">{{ item.price }}</div>

    <div class="product--name">{{ item.name }}</div>

    <div class="product--cat">
      {{ item.gender }}.{{ item.category }}.{{ item.brand }}
    </div>

    <div class="product--available-colors">
      {{ item.color.length }} Colors . Best Seller
    </div>
  </div>
</div>
